@import url('http://fonts.cdnfonts.com/css/sf-compact-display');

*{
    font-family: 'SF Compact Display', sans-serif;
    margin: 0;
    padding: 0;
}
.prompt{
    padding: 30px 0 0 0;
   
}
.container{
    width: 1330px;
    margin: 0 auto;
}

@import './header';
@import './subElem'